@font-face {
    font-family: Tajawal;
    src: url("../fonts/ArbFONTS-Tajawal-Medium.ttf");
  }
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Tajawal', sans-serif;
}

body{
    direction: rtl;
}
/* top header */
.top_header{
    margin-bottom: 15px;
    padding: 5px;
}
.top_header .active{
    background-color: rgb(146, 241, 146);
}
.top_header .header_links{
    margin-top: 15px;
    text-align: right;
}
.top_header .header_links .nav_logo img{
    width: 80px;
    height: 80px;
}
.top_header .header_links ul li{
    margin-right: 15px;
}
.top_header .header_links a{
    text-decoration: none;
    color: rgb(44, 44, 44);
    padding: 8px 10px;
    font-size: 18px;
}

.top_header .nav-user img{
    width: 80px;
    height: 80px;
    box-shadow: 0 0 6px rgb(204, 204, 204);
    border-radius: 50%;
}
.top_header .nav-user span{
    color: rgb(44, 44, 44);
    font-size: 12px;
    text-align: center;
    letter-spacing: .3px;
    padding-top: 5px;
}
.top_header .header_icons{
    margin-left: 20px;
}
.top_header .header_icons img{
    width: 25px;
    height: 20px;
}
.top_header .header_icons a{
    color: rgb(44, 44, 44);
    font-size: 19px;
    padding: 5px;
    margin-right: 5px;
}
.top_header .navbar-nav{
    align-items: center;
}


/* End top header */

/* top content */
.top_content{
    width: 100%;
    height: 500px;
    background-image: url('../img/content.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 100px;
}
.top_content .top-content-holder{
    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: row-reverse; 
    align-items: center;
}
.top_content .top-content-holder .top-content-data{
    flex: 0 0 60%;
    position: relative;
}
.top_content .top-content-holder .top-content-data p{
    margin: auto;
    width: 65%;
    text-align: center;
    color: rgb(44, 44, 44);
    font-size: 19px;
    font-weight: 600;
}
.top_content .top-content-holder .top-content-data .top-content-btn{
    margin: 70px auto 0px auto;
    text-align: center;
    
}
.top_content .top-content-holder .top-content-data .top-content-btn button{
    color: #fff;
    background-color: #15726c;
    margin: 15px;
    border-radius: 8px;
    padding: 10px 30px;
}
/* top content */

/* sub content 1 */
.sub_content{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 200px;
}
.sub_content .sub_cont_holder .mt_div{
    margin-top: 150px;
}
.sub_content .sub_cont_holder .sub_cont_img{
    position: relative;
}
.sub_content .sub_cont_holder .sub_cont_img p{
    position: absolute;
    top: 28%;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.sub_content .sub_cont_holder .sub_cont_img img{
    width: 100%;
    height: 100%;
}
.sub_content .sub_cont_holder .join_btn_holder{
    position: absolute;
    left: 0px;
    padding: 8px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #eeeff3;
}
.sub_content .sub_cont_holder .join_btn_holder .join_icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
}
.sub_content .sub_cont_holder .join_btn_holder .join_icon a{
    width: 100%;
    height: 100%;
    line-height: 4.3;
    cursor: pointer;
}
.sub_content .sub_cont_holder .join_btn_holder .join_icon i{
    font-size: 25px;
    color: #000;
}
.sub_content .sub_cont_holder .join_btn_holder .join_text{
    font-size: 17px;
    padding: 0px 5px;
}
/* sub content 1 */

/* about us content */
.about_us_content{
    width: 100%;
    height: 400px;
}
.about_us_content .about_us_holder{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 400px;
    background-color: #ecf0f3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    align-items: center;
}
.about_us_content .about_us_holder .about_us_text{
    flex: 0 0 40%;
    position: relative;
}
.about_us_content .about_us_holder .about_us_text .text_holder{
    text-align: right;
    width: 88%;
}
.about_us_content .about_us_holder .about_us_text .text_holder h3{
    color: #15726c;
    font-size: 20px;
    font-weight: 900;
}
.about_us_content .about_us_holder .about_us_text .text_holder p{
    line-height: 2;
    font-weight: 900;
    color: rgb(44, 44, 44);
}
.about_us_content .about_us_holder .about_us_img{
    flex: 0 0 60%;
    position: relative;
    text-align: right;
}
.about_us_content .about_us_holder .about_us_img img{
    margin-right: 14%;
    width: 380px;
    height: 380px;
    
}

/* about us content */

/* bottom content */
.bot_content{
    margin-top: 10px;
    background-image: url('../img/hands.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 1300px;
}
.bot_content .bot_content_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 900px;
}
.bot_content .bot_content_cont .custom_card{
    padding: 5px;
    padding-top: 30px;
    width: 100%;
    height: 240px;
    text-align: center;
    background-color: #ecf0f3;
    box-shadow: 0 0 5px rgb(168, 168, 168);
    
}
.bot_content .bot_content_cont .custom_card .card_title{
    margin-bottom: 15px;
}
.bot_content .bot_content_cont .custom_card .card_title img{
    width: 40px;
    height: 40px;
}
.bot_content .bot_content_cont .custom_card .card_title span{
    font-size: 14px;
    font-weight: 600;
}
.bot_content .bot_content_cont .custom_card .card_body{
    width: 95%;
    margin:20px auto 40px auto;
}
.bot_content .bot_content_cont .custom_card .card_body p{
    font-size: 16px;
    font-weight: 600;
}


.bot_content .cust_card_2_cont{
    padding: 15px;
    width: 100%;
    background-color: rgba(194, 228, 211, 0.334);
}
.bot_content .cust_card_2_cont .custom_card_2{
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bot_content .cust_card_2_cont .custom_card_2 .card_title img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.bot_content .cust_card_2_cont .custom_card_2 .card_title p{
    font-size: 18px;
    font-weight: 600;
}
/* bottom content */

/* footer */

footer.main_footer{
    background-color: #eee;
    height: 350px;
    position: relative;
}
.main_footer .contact_details{
    position: absolute;
    top: 30%;
    left: 1%;
    width: 95%;
}
.main_footer .contact_details .contact_grid{
    justify-content: center;
    margin-bottom: 20px;
}
.main_footer .contact_details .contact_card{
    background-color: #fff;
    padding: 8px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.main_footer .contact_details .contact_card .icon{
    flex: 0 0 20%;
    padding-left:10px ;
    font-size: 23px;
    text-align: left;
}
.main_footer .contact_details .contact_card .details{
    flex: 0 0 78%;
}
.main_footer .contact_details .contact_card .details a{
    text-decoration: none;
}
.main_footer .contact_details .contact_card .details p{
    margin: 0px;
    color: rgb(44, 44, 44);
    font-weight: 800;
}
.main_footer .social{
    display: flex;
    flex-direction: column;
}
.main_footer .social ul{
    padding: 0px;
    direction: ltr;
    text-align: right;
}
.main_footer .social ul li{
    display: inline-flex;
    width: 60px;
    height: 60px;
    padding: 0px;
    background-color: rgb(249, 252, 251);
    border-radius: 50%;
    text-align: center;
    line-height: 2.5;
    margin-left: 15px;
}
.main_footer .social ul li span{
    width: 100%;
}
.main_footer .social ul li a{
    color: #000;
    font-size: 25px;
}
.main_footer .social .terms{
    text-align: right;
}
.main_footer .social .terms a{
    color: rgb(44, 44, 44);
    padding-right: 50px;
    font-size: 13px;
}
/* footer */



/* platform page */

/* plat form slider */
.top_slider{
    margin-bottom: 40px;
}
.top_slider .slider_row .carousel-item{
    width: 100%;
}
.top_slider .slider_row .carousel-item img{
    width: 100%;
    height: 550px;
}
/* plat form slider */

/* platform content */
.banner{
    margin-bottom: 30px;
}
.banner .banner_holder{
    margin: auto;
    width: 60%;
}
.banner .banner_holder .banner_data{
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.banner .banner_holder .banner_data img{
    width: 60%;
    height: 120px;
}
.banner .plat_feature{
    margin-top: 100px;
    width: 70%;
    margin: 100px auto;
}
.banner .plat_feature .row{
    align-items: center;
}
.banner .plat_feature .cate_card{
    margin: auto;
}
.banner .plat_feature .cate_card .card-body{
    text-align: center;
    cursor: pointer;
    padding: 10px 2px;
}
.banner .plat_feature .cate_card .card-body a{
    color: #000;
    text-decoration: none;
}
.banner .plat_feature .dots{
    color: rgba(45, 150, 177, 0.856);
}
.banner .plat_category .category_cont{
    text-align: right;
    margin-bottom: 15px;
}
.banner .plat_category .category_cont .cate_data{
    display: inline-flex;
    width: 100%;
    height: 100%;
    padding: 25px;
    align-items: center;
    background-color: #e4f1fa ;
    margin: auto;
    font-weight: 800;
    border: 1px solid #ccd1d1 ;
}
.banner .plat_category .category_cont .cate_data img{
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-left: 15px;
}

/* platform content */

/* platform page */

/* market page */
/* market slick slider */

.slick_slider{
    margin-bottom: 50px;
}
.slick_slider .slick_img_container{
    text-align: center;
    font-weight: 800;
}
.slick_slider .slick_img_container img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    padding: 5px;
}
.slick_slider .slick_img_container span:focus{
    color: rgb(238, 152, 22);
}
.slick-slide:focus{
    outline: none !important;
    border-bottom: 3px solid rgb(238, 152, 22);
}
/* market slick slider */

/* market products */
.market .overlay{
    background-color: rgba(255, 255, 255,.1) !important
}
.market .products{
    background-image: url('../img/market_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   padding-bottom: 170px;
}
.market .products .card{
    height: 290px;
    border-radius: 20px;
    border: 2px solid #249e8e;
    padding: 10px;
    margin: auto auto 30px auto;
}
.market .products .card-body{
    position: relative;
}
.market .products .card-body .buy_icon{
    position: absolute;
    top: 2%;
    right: 0%;
    text-align: right;
}
.market .products .card-body .buy_icon img{
    width: 25px;
    height: 25px;
}
.market .products .card-body .fav_icon{
    position: absolute;
    top: 2%;
    left: 0%;
    text-align: left;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.market .products .card-body .prod_img{
    position: absolute;
    top: 12%;
    right: 0px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.market .products .card-body .prod_img img{
    width: 50px;
    height: 50px;
}
.market .products .card-body .prod_data{
    position: absolute;
    top: 42%;
    right: 0%;
    text-align: right;
}
.market .products .card-body .prod_data span{
    font-size: 14px;
    font-weight: 800;
    color: green;
}
.market .products .card-body .prod_data p{
    margin-top: 25px;
    font-size: 12px;
    color: rgba(48, 49, 49, 0.934);
}
.market .products .card-body .card_footer{
    position: absolute;
    bottom: 0%;
    right: 0px;
    text-align: right;
    color: green;
}
.market .products .card-body .card_footer img{
    margin-left: 10px;
    width: 15px;
    height: 20px;
}
/* market products */
/* market page */




/* preview page */
.preview{
    margin-top: 15px;
    background-image: url('../img/preview_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.preview .preview_container{
    padding: 0px 20px 150px 20px;
}
.preview .overlay{
    background-color: rgba(255,255, 255,.1);
    width: 100%;
    height: 100%;
}
.preview .preview_container .title{
    margin-top: 15px;
    margin-right: 0px;
    text-align: right;
    margin-bottom: 20px;
}
.preview .preview_container .title img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}
.preview .preview_container .title span{
    font-size: 16px;
    color: #0D786C;
    font-weight: 800;
    letter-spacing: 1px;
}
.preview .carousel_container{
    text-align: right;
    border:  2px solid rgb(53, 161, 59);
    padding: 10px;
}
.preview .carousel-item img{
    width: 100%;
    height: 400px;
}
.preview .prod_details{
    text-align: right;
}
.preview .prod_details .prev_data{
   margin-top: 10%;
   margin-right: 5%;
}
.preview .prod_details .prev_data ul{
    padding: 0px;
}
.preview .prod_details .prev_data ul li{
    margin-bottom: 20px;
    color: rgb(11, 68, 11);
    font-size: 20px;
    font-weight: 800;
}
.preview .prod_details .prev_data ul li:last-child i{
    margin-left: 15px;
    font-size: 14px;
}
.preview .prod_details .prev_btn{
    margin-top: 11%;
    margin-right: 4%;
}
.preview .prod_details .prev_btn{
    width: 90%;
    display: inline-flex;
}
.preview select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.preview .prev_btn .select-wrapper{
    position: relative;
    display: inline-flex;
    width: 25%;
    margin-left: 15px;
}
.preview .prod_details .prev_btn select{
    background-color: #e4eaea86;
    width: 100%;
    padding: 5px 20px;
    border: 1px solid #acafaf;
    border-radius: 20px;
    outline: none;
    font-size: 19px;
    font-weight: bolder;
    color: #0D786C;
    text-align: center;
    position: relative;
    cursor: pointer;
    z-index: 555555555;
    direction: ltr;
}
#select_arrow{
    position: absolute;
    top: 2%;
    right: 5.5%;
    font-size: 25px;
    color: #0D786C;
    cursor: pointer;
}
#select_arrow img{
    width: 30px;
    height: 30px;
}
.preview .prod_details .prev_btn button{
    background-color: #e4eaea86;
    border: 1px solid #acafaf;
    padding: 8px 80px;
    border-radius: 20px;
    color: #0D786C;
    text-align: center;
    font-weight: 500;
}


.preview .features{
    margin-top: 100px;
    text-align: right;
    margin-right: 5%;
}
.preview .features .feat_title{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    color: #0D786C;
}
.preview .prev_table{
    width: 40%;
    background-color: rgba(255, 255, 255, 0.651);
    overflow-x: auto;
}
.preview .prev_table .table {
    border-collapse: separate;
    border-spacing:0 5px;
}
.preview .prev_table table tr:nth-child(even){
    background-color: #f7fbfa;
}
.preview .prev_table table tr td {
    font-size: 16px;
    font-weight: 500;
    color: #0D786C;
    border: 2px solid #ddd !important;
}

.preview .may_like{
    margin-top: 20px;
    text-align: right;
    margin-right: 3.5%;
}
.preview .may_like .may_like_title{
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    color: #0D786C;
}
.preview .may_like_card{
    padding: 0px;
}
.preview .card{
    height: 290px;
    border-radius: 20px;
    border: 2px solid #249e8e;
    padding: 10px;
    margin: auto auto 30px auto;
}
.preview .card-body{
    position: relative;
}
.preview .card-body .buy_icon{
    position: absolute;
    top: 2%;
    right: 0%;
    text-align: right;
}
.preview .card-body .buy_icon img{
    width: 25px;
    height: 25px;
}
.preview .card-body .fav_icon{
    position: absolute;
    top: 2%;
    left: 0%;
    text-align: left;
    color: red;
    font-size: 20px;
    cursor: pointer;
}
.preview .card-body .prod_img{
    position: absolute;
    top: 12%;
    right: 0px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.preview .card-body .prod_img img{
    width: 50px;
    height: 50px;
}
.preview .card-body .prod_data{
    position: absolute;
    top: 42%;
    right: 0%;
    text-align: right;
}
.preview .card-body .prod_data span{
    font-size: 14px;
    font-weight: 800;
    color: green;
}
.preview .card-body .prod_data p{
    margin-top: 25px;
    font-size: 12px;
    color: rgba(48, 49, 49, 0.934);
}
.preview .card-body .card_footer{
    position: absolute;
    bottom: 0%;
    right: 0px;
    text-align: right;
    color: green;
}
.preview .card-body .card_footer img{
    width: 15px;
    height: 25px;
    margin-left: 7px;
}

/* preview page */

/* offer pages */
.offer{
    background-image: url('../img/offer_bg.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 0px;
}
.offer_container{
    padding-bottom: 200px;
}
.offer .products{
    margin-bottom: 0px !important;
}
/* offer page */


/* electricald devices page */
.elect .products{
    background-image: url('../img/elec_bg.png');
    background-size: 750px;
    background-position: center 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 170px;

}
.elect .elect_title{
    text-align: right;
    font-size: 17px;
    color: #15726c;
    font-weight: bold;
    margin-bottom: 20px;
}
.elect .elect_title img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
/* electricald devices page */

/* elect device preview */
.elect_prev{
    background-image: url('../img/elec_bg.png');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center 200px;
}
.elect_prev .overlay{
    background-color: rgba(255, 255, 255, .5);
}
.elect_prev .preview_container .prev_data img{
    margin-left: 10px;
    width: 20px;
    height: 30px;
}

/* elect device preview */


/* eductaion page */
.education .slick_slider .card{
    margin: 5px;
}
.education .slick_slider .card .card-body{
    padding:.32rem;
    direction: rtl;
}
.education .slick_slider .card img{
    width: 100%;
    height: 124px;
}
.education .slick_slider .card .card-title{
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    color: #1a8d6a;
}

.rate{
    width: 100%;
    text-align: center;
    direction: rtl;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.education .slick_slider .card-footer{
    font-size: 13px;
    color: green;
}
.education .slick_slider .card .card_footer img{
    width: 15px;
    height: 20px;
    margin-left: 7px;
    display: inline-flex;
}
.education .slick_slider .type-one-carousel{
    margin-bottom: 40px;
    box-shadow: none;
}
.education .slick_slider .slick-slide:focus{
    outline: none !important;
    border-bottom: 3px solid rgb(21, 163, 33);
}

/* eductaion page */


/* course details page */
.course_details{
    background-image: url('../img/hands.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 170px;
}
.course_content .content_container{
    position: relative;
}
.course_content .content_container::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 0px;
    width: 1.8px;
    height: 100%;
    background-color: #15726cb6;
}
.course_content .content_title{
    text-align: right;
    color: #15726c;
    padding:8px 20px;
    border: 1px solid #15726cb6;
    border-radius: 25px;
}
.course_content .content_title p{
    margin-bottom: 0px;
    padding: 5px;
    font-weight: bold;
}
.course_content .content_container .type-one-carousel{
    box-shadow: none;
}
.course_content .content_container .section_num{
    padding: 8px 10px;
    color: #15726c;
    font-size: 12px;
    border: 1px solid #15726cb6;
    border-radius: 15px;
    margin: 5px;
}
.course_content .content_container .section_num a{
    color: #15726c;
    text-decoration: none;
    outline: none;
}
.course_content .content_container .course_progress{
    width: 100%;
}
.course_content .content_container .course_progress::-webkit-scrollbar{
    position: absolute;
    z-index: -55552;
    width: none;
}

.course_content .content_container .course_progress{
    height: 700px;
    width: 100%;
    padding: 0px;
    overflow: scroll;

}
.course_content .content_container .course_progress .prog-1{
    position: relative;
    border: 1px solid #1a8d6a60;
    padding: 15px;
    border-radius: 15px;
    background-color: #d1ffe3;
    width: 80%;
    margin-bottom: 20px;
}
.course_content .content_container .course_progress .prog-1::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -30%;
    width: 28%;
    height: 1px;
    background-color:#1a8d6a60 ;
    z-index: 999999;
}
.course_content .content_container .course_progress .circle{
    position: absolute;
    top: 41%;
    left: -31.6%;
    width: 15px;
    height: 15px;
    border: 1px solid #1a8d6ab6;
    border-radius: 50%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    z-index: 999999;

}
.course_content .content_container .course_progress .circle .sub-circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1a8d6a;
    margin-top: 2.2px;
    z-index: 9999999999999;
}
.course_content .content_container .course_progress .prog-1 .prog-title{
    font-size: 13px;
    font-weight: 500;
    color:#15726c ;
    position: absolute;
    right: 15px;
}

.course_content .content_container .course_progress .prog-1 .prog-img i{
    color: #0e7970;
    font-size: 25px;
    margin-right: 10px;
}
.course_content .content_container .course_progress .prog-1 .prog-img span{
    font-size: 12px;
    color: #1a9c91;
}
.course_content .content_container .course_progress .prog-1 .progress{
    flex-direction: row-reverse;
}
.course_content .content_container .course_progress .prog-1 .progress-bar{
   background-color: #15726c;
}

.course_details .course_title{
    text-align: right;
    font-size: 17px;
    color: #15726c;
    font-weight: bold;
    margin-bottom: 20px;
}
.course_details .course_title img{
    width: 50px;
    height: 50px;
    margin-left: 7px;
}
.course_details .course_content .video_cont{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.course_details .course_content .video_cont video{
    width: 100%;
    height: 400px;
    border-radius: 15px;

}
.course_details .course_content .video_content{
    text-align: right;
}
.course_details .course_content .video_content p{
    width: 20%;
    margin-top: 20px;
    padding: 15px;
    color: #1a8d6a;
    border: 1px solid #1a8d6a60;
    border-radius: 25px;
    font-size: 12px;
}
.course_details .course_content .video_content p img{
    width: 10px;
    height: 20px;
    margin-left: 8px;
}
.course_details .course_content .instractor_details{
    text-align: right;
    color: #1a8d6a;
    font-size: 14px;
    font-weight: bold;
}
.course_details .course_content .course_summary{
    text-align: right;
    color: #23ac83;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
}
.course_details .course_content .course_summary h4{
    letter-spacing: -.6px;
    font-size: 16px;
    font-weight: 700;
}
.course_details .course_content .course_summary .summary_details{
    font-size: 14px;
    color: #23ac83 ;
}
.course_details .course_content .course_features{
    text-align: right;
    color: #23ac83;
    width: 80%;
}
.course_details .course_content .course_features h4{
    font-size: 16px;
    font-weight: 700;
}
.course_details .course_content .course_features .features_details{
    font-size: 14px;
    color: #23ac83 ;
}
.course_details .course_content .course_description{
    text-align: right;
    color: #23ac83;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px !important;
}
.course_details .course_content .course_description h4{
    font-size: 16px;
    font-weight: 700;
}
.course_details .course_content .description_container{
    margin: 0px !important;
}
.course_details .course_content .rating{
    align-self: center;
    position: relative;
    direction: ltr;
}
.course_details .course_content .rating .rating_cont{
    width: 50%;
}
.course_details .course_content .rating h4{
    font-size: 14px;
    text-align: right;
    color: #23ac83;
    font-weight: 500;
}
.course_details .course_content .rating .rate{
   
    border: 1px solid #23ac8386;
    border-radius: 15px;
    line-height: 1;
    padding-top: 10px;
}

/* course details page */

/* dashboard page */

.dashboard .dash-holder .custom-col{
    padding-left: 0px;
    background-image: url('../img/side-nav-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 730px;
}
.dashboard .dash-holder .side-navbar-cont{
    width: 16.6666%;
    height: 100vh;
    background-color: rgba(29, 32, 49, 0.881);
    position: fixed;
    text-align: right;
}
.dashboard .dash-holder .side-navbar-cont .side-navbar-list{
    padding-top: 60px;
    padding-right: 20px;
    width: 100%;
}
.dashboard .dash-holder .side-navbar-cont .side-navbar-list .elect_device_collapse > a{
    color: rgba(66, 192, 62, 0.988);
}
.dashboard .dash-holder .side-navbar-cont .side-navbar-list .elect_device_collapse i{
    margin-left: 10px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.899);
}
.dashboard .dash-holder .side-navbar-cont .side-navbar-list .elect_device_collapse .sub_list{
    background-color: rgba(255, 255, 255, 0.37);
    padding: 8px 15px;
}
.dashboard .dash-holder .side-navbar-cont .side-navbar-list .elect_device_collapse .sub_list a{
    color: rgba(113, 231, 109, 0.76);
    margin-bottom: 10px;
}

.dashboard .dash-holder .side-navbar-cont .close-nav{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding:0px 15px 15px 15px;
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 0%;
}
.dashboard .dash-holder .open-nav{
    color: rgba(46, 209, 40, 0.988);
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 25px;
    display: none;
}
.dashboard .dash-holder .main_tabs{
    direction: rtl;
    text-align: right;
    padding: 35px 20px;
}
.dashboard .dash-holder .main_tabs .cate_table_cont{
    margin-top: 25px;
}
.dashboard .dash-holder .main_tabs .cate_table_cont table tr td img{
    width: 100px;
    height: 100px;
}
table.dataTable td{
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
}
table.dataTable thead .sorting:after{
    font-family: "Font Awesome 5 Free";
    content: "\f884" !important;
}
table.dataTable thead .sorting_asc:after{
    font-family: "Font Awesome 5 Free";
    content: "\f884" !important;
}
table.dataTable thead .sorting_desc:after{
    font-family: "Font Awesome 5 Free";
    content: "\f161" !important;

}
.dashboard .dash-holder .main_tabs .modal-footer button{
    border: none !important;
    margin: auto;
}
.dashboard .dash-holder .main_tabs .modal-body .pic_preview{
    margin-top: 25px;
    padding: 10px;
}
.dashboard .dash-holder .main_tabs .modal-body .pic_preview img{
    width: 100px;
    height: 100px;
}
.dashboard .dash-holder .main_tabs .prod_table span.req{
    color: red;
}
.dashboard .dash-holder .main_tabs .prod_table thead{
    font-size: 13px;
}
.dashboard .dash-holder .main_tabs .prod_table tr td{
    font-size: 12px;
}
.dashboard .dash-holder .main_tabs .prod_table tr td img{
    width: 60px !important;
    height: 60px !important;
}
.dashboard .dash-holder .new-product label,.dashboard .dash-holder .edit-prod-form label{
    font-size: 17px;
    font-weight: 600;
    color: rgb(53, 190, 53);
}
.dashboard .dash-holder .new-product input, .dashboard .dash-holder .new-product textarea,.dashboard .dash-holder .edit-prod-form input,.dashboard .dash-holder .edit-prod-form textarea{
    margin-bottom: 15px;
    color: rgb(39, 128, 39);
    resize: none;
}
.dashboard .dash-holder .new-product .add_new_btn,.dashboard .dash-holder .edit-prod-form .edit_btn{
    margin-top: 20px;
    padding: 10px 55px;
    border-radius: 20px;
}
.dashboard .dash-holder .edit-prod-form{
    display: none;
}
.dashboard .dash-holder .offer-inputs{
    margin-bottom: 15px;
}
/* dashboard page */



table tr td,table th{
    text-align: center;
}
























.canceled{
    text-decoration: line-through;
}

/* slick slider */
.slick-initialized{
    direction: ltr;
}
.slick-prev{
    left: 0px;
    right: 0px;
}
.slick-next{
    left: 0px;
    right: 0px;
}

.slick-slide{
    text-align: center;
}

.type-one-carousel{
    padding: 8px;
    box-shadow: 0px 5px 6px -6px rgb(148, 148, 148);
}
/* slick slider */





/* media query */
@media (min-width:200px) and (max-width:430px){
    .top_header .nav-user img{
        width: 50px;
        height: 50px;
    }
    .top_header .nav-user span{
        font-size: 10px;
    }
    .top_header .header_icons{
        margin-left: 10px;
    }
    .top_header .header_icons a{
        margin-right: 0px;
    }
    .top_content .top-content-holder .top-content-data p{
        width: 95%;
        font-size: 14px;
    }
    .top_content .top-content-holder .top-content-data .top-content-btn button{
        margin:3px;
        font-size: 10px;
        padding: 7px;
        border-radius: 20px;
    }
    .sub_content .sub_cont_holder .sub_cont_img p{
        font-size: 11px;
    }
    .sub_content .sub_cont_holder .join_btn_holder .join_icon{
        width: 40px;
        height: 40px;
    }
    .sub_content .sub_cont_holder .join_btn_holder .join_icon a{
        line-height: 2.9;
    }
    .sub_content .sub_cont_holder .join_btn_holder .join_icon i{
        font-size: 20px;
    }
    
    .sub_content .sub_cont_holder .join_btn_holder .join_text{
        font-size: 13px;
    }
    .about_us_content .about_us_holder .about_us_text .text_holder p{
        font-size: 12px;
        line-height: 1.3;

    }
    .about_us_content .about_us_holder .about_us_img img{
        width: 170px;
        height: 170px;
        margin-right: 0%;
    }
    .home_footer_img img, .market_footer_img img{
        height: 322px !important;
        width: 140px !important;
    }
    .main_footer .contact_details .contact_grid {
        justify-content: end;
    }
    .main_footer .contact_details .contact_card .icon{
        font-size: 16px;
    }
    .main_footer .contact_details .contact_card .details{
        font-size: 13px;
    }
    .main_footer .social ul li{
        width: 40px;
        height: 40px;
        line-height: 2.6;
        margin-left: 5px;
    }
    .main_footer .social ul li a{
        font-size: 15px;
    }
    .main_footer .social .terms a{
        padding-right: 15px;
    }
    .banner .plat_feature .cate_card .card-body a{
        font-size: 10px;
    }
    .market .products .card-body .prod_img img, .preview .card-body .prod_img img{
        width: 40px;
        height: 40px;
    }
    .market .products .card-body .prod_data span{
        font-size: 11px;
    }
    .preview .card-body .prod_data span{
        font-size: 10px;
    }
    .market .products .card-body .prod_data p, .preview .card-body .prod_data p{
        font-size: 10px;
    }
    .market .products .card-body .card_footer, .preview .card-body .card_footer{
        font-size: 11px;
    }
    .preview .prod_details .prev_data ul li{
        font-size: 15px;
    }
    .preview .prev_btn .select-wrapper{
        width: 45%;
    }
    .preview .prod_details .prev_btn button{
        padding: 8px 10px;
        font-size: 11px;
    }
    .preview .prev_table{
        width: 100%;
    }
    .preview .prev_table table tr td{
        font-size: 13px;
    }
    .banner .banner_holder{
        width: 100%;
    }
    .banner .banner_holder .banner_data img{
        width: 100%;
    }
    .course_content .content_title{
        padding: 5px;
    }
    .course_content .content_title p{
        font-size: 12px;
        padding: 0px;
    }
    .course_content .content_container .section_num{
        padding: 5px 8px;
        font-size: 9px;
    }
    .course_details .course_content .video_content p{
        width: 100%;
    }
    .course_details .course_content .rating .rating_cont{
        width: 100%;
    }
    .course_content .content_container .course_progress .circle{
        left: -34%;
    }
    .dashboard .dash-holder .side-navbar-cont {
        width: 39.6666%;
    }
    .dashboard .dash-holder .side-navbar-cont .close-nav{
        right: 0%;
        font-size: 17px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list{
        padding-right: 7px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list .elect_device_collapse > a{
        font-size: 14px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list .elect_device_collapse i{
        margin-left: 8px;
        font-size: 13px;
    }
    .dashboard .dash-holder .new-product label, .dashboard .dash-holder .edit-prod-form label{
        font-size: 14px;
    }
    .dashboard .dash-holder .new-product .add_new_btn,.dashboard .dash-holder .edit-prod-form .edit_btn{
        padding: 8px 30px;
    }
    
}
@media (min-width:430px) and (max-width:530px){
    .top_content .top-content-holder .top-content-data p{
        width: 95%;
        font-size: 16px;
    }
    .top_content .top-content-holder .top-content-data .top-content-btn button{
        margin:5px;
        font-size: 13px;
        padding: 10px 10px;
        border-radius: 20px;
    }
    .sub_content .sub_cont_holder .join_btn_holder .join_icon{
        width: 50px;
        height: 50px;
    }
    .sub_content .sub_cont_holder .join_btn_holder .join_icon a{
        line-height: 3.6;
    }
    .sub_content .sub_cont_holder .join_btn_holder .join_icon i{
        font-size: 23px;
    }
    
    .sub_content .sub_cont_holder .join_btn_holder .join_text{
        font-size: 15px;
    }
    .about_us_content .about_us_holder .about_us_text .text_holder p{
        font-size: 15px;
        line-height: 1.7;

    }
    .home_footer_img img, .market_footer_img img{
        height: 322px !important;
        width: 200px !important;
    }
    .main_footer .contact_details .contact_grid {
        justify-content: end;
    }
    .main_footer .contact_details .contact_card .icon{
        font-size: 19px;
    }
    .main_footer .contact_details .contact_card .details{
        font-size: 14px;
    }
    .main_footer .social ul li{
        width: 50px;
        height: 50px;
        line-height: 2.7;
        margin-left: 5px;
    }
    .main_footer .social ul li a{
        font-size: 19px;
    }
    .main_footer .social .terms a{
        padding-right: 22px;
    }
    .preview .prod_details .prev_data ul li{
        font-size: 18px;
    }
    .preview .prev_btn .select-wrapper{
        width: 35%;
    }
    .preview .prod_details .prev_btn button{
        padding: 8px 40px;
        font-size: 16px;
    }
    .preview .prev_table{
        width: 100%;
    }
    .preview .prev_table table tr td{
        font-size: 15px;
    }
    .banner .banner_holder{
        width: 80%;
    }
    .banner .banner_holder .banner_data img{
        width: 100%;
    }
    .course_content .content_title{
        padding: 9px;
    }
    .course_content .content_title p{
        font-size: 13px;
        padding: 0px;
    }
    .course_content .content_container .section_num{
        padding: 5px 8px;
        font-size: 11px;
    }
    .course_details .course_content .video_content p{
        width: 70%;
    }
    .course_details .course_content .rating .rating_cont{
        width: 70%;
    }
    .dashboard .dash-holder .side-navbar-cont {
        width: 39.6666%;
    }
    .dashboard .dash-holder .side-navbar-cont .close-nav{
        right: 0%;
        font-size: 17px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list{
        padding-right:15px ;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list ul li i{
        font-size: 15px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list .list-item{
        padding: 2px;
        font-size: 15px;
    }
    .dashboard .dash-holder .elect_device_container{
        padding: 20px 25px;
    }
    .dashboard .dash-holder .elect_device_container label{
        font-size: 15px;
        font-weight: 500;
    }
    
}
@media (min-width:530px) and (max-width:575.6px){
    .preview .prev_btn .select-wrapper{
        width: 40%;
    }
    .preview .prod_details .prev_btn button{
        padding: 8px 45px;
        font-size: 18px;
    }
    .dashboard .dash-holder .side-navbar-cont {
        width: 33.6666%;
    }
    .dashboard .dash-holder .side-navbar-cont .close-nav{
        right: 0%;
        font-size: 17px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list{
        padding-right:15px ;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list ul li i{
        font-size: 15px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list .list-item{
        padding: 2px;
        font-size: 15px;
    }
    .dashboard .dash-holder .elect_device_container{
        padding: 20px 0px;
    }
    .dashboard .dash-holder .elect_device_container label{
        font-size: 15px;
        font-weight: 500;
    }
}
@media (min-width:576px) and (max-width:767.6px){
    .preview .prod_details .prev_btn {
        width: 100%;
    }
    .preview .prev_btn .select-wrapper{
        width: 45%;
    }
    .preview .prod_details .prev_btn button{
        padding: 8px 10px;
        font-size: 10px;
    }
    .course_content .content_container .course_progress .prog-1 .prog-title{
        font-size: 9px;
    }
    .course_content .content_container .course_progress .prog-1 .prog-img span{
        font-size: 8px;
    }
    .course_content .content_container .course_progress .prog-1 .prog-img i{
        font-size: 13px;
    }
    .course_content .content_container .course_progress .circle{
        left: -45%;
    }
    .dashboard .dash-holder .side-navbar-cont {
        width: 32.6666%;
    }
    .dashboard .dash-holder .side-navbar-cont .close-nav{
        right: 0%;
        font-size: 17px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list{
        padding-right:15px ;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list ul li i{
        font-size: 20px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list .list-item{
        padding: 2px;
        font-size: 18px;
    }
    .dashboard .dash-holder .elect_device_container{
        padding: 20px 0px;
    }
    .dashboard .dash-holder .elect_device_container label{
        font-size: 15px;
        font-weight: 500;
    }
}
@media (min-width:530px) and (max-width:767px){
    .top_content .top-content-holder .top-content-data .top-content-btn button{
        margin:5px;
        font-size: 13px;
        padding: 10px 15px;
    }
    .home_footer_img img, .market_footer_img img{
        height: 322px !important;
        width: 250px !important;
    }
    .main_footer .contact_details .contact_grid {
        justify-content: flex-start;
    }
    .main_footer .contact_details .contact_card .icon{
        font-size: 19px;
    }
    .main_footer .contact_details .contact_card .details{
        font-size: 14px;
    }
    .main_footer .social ul{
        text-align: right;
    }
    .main_footer .social ul li{
        width: 50px;
        height: 50px;
        line-height: 2.7;
        margin-left: 5px;
    }
    .main_footer .social ul li a{
        font-size: 19px;
    }
    .main_footer .social .terms a{
        padding-right: 22px;
    }
    .market .products .card-body .prod_data span, .preview .card-body .prod_data span{
        font-size: 17px;
    }
    .market .products .card-body .prod_data p, .preview .card-body .prod_data p{
        font-size: 12px;
    }
    .market .products .card-body .card_footer, .preview .products .card-body .card_footer{
        font-size: 17px;
    }

    .preview .prod_details .prev_data ul li{
        font-size: 20px;
    }
    
    .preview .prev_table{
        width: 100%;
    }
    .preview .prev_table table tr td{
        font-size: 17px;
    }
    .banner .banner_holder{
        width: 60%;
    }
    .banner .banner_holder .banner_data img{
        width: 100%;
    }
    .course_content .content_title{
        padding: 9px 20px;
    }
    .course_content .content_title p{
        font-size: 15px;
        padding: 0px;
    }
    .course_content .content_container .section_num{
        padding: 5px 8px;
        font-size: 12px;
    }
    .course_details .course_content .video_content p{
        width: 50%;
    }
    .course_details .course_content .rating .rating_cont{
        width: 100%;
    }
    
    
}
@media (min-width:200px) and (max-width:767.6px){
    .navbar-nav{
        align-items: flex-start;
    }    
    .top_header .navbar-nav .nav-item{
        width: 100%;
        transition: all .5s ease-in-out;
    }
    .top_header .navbar-nav .nav-item:hover{
        background-color: #eee;
    }
    .sub_content .sub_cont_holder .mt_div{
        margin-top: 0px;
    }
    .sub_content .sub_cont_holder .sub_cont_img{
        margin-bottom: 20px;
    }
    .sub_content .sub_cont_holder .sub_cont_img img {
        width: 70%;
        height: 70%;
    }
    .about_us_content .about_us_holder .about_us_text .text_holder{
        width: 97%;
    }
    .bot_content .cust_card_2_cont .custom_card_2,.bot_content .bot_content_cont .custom_card{
        margin-bottom: 25px;
    }
    
    .main_footer .contact_details{
        top: 5%;
    }
    .banner .plat_feature .dots{
        display: none;
    }
    .banner .plat_feature .card{
        margin-bottom: 15px;
    }
    .banner .plat_feature .cate_card .card-body{
        line-height: .8;
    }
    .banner .plat_feature .row .cate_card:first-child .card-body{
        padding-bottom: 11px;
    }
    .banner .plat_category .category_cont .cate_holder{
        margin-bottom: 15px;
    }
    .banner .plat_category .category_cont .cate_data{
        justify-content: center;
    }
    .preview .prod_details .prev_data{
        text-align: center;
    }
    .preview .prod_details .prev_btn{
        justify-content: center;
    }
    .dashboard .dash-holder .main_tabs .cate_table_cont table tr td img{
        width: 70px;
        height: 70px;
    }
    .dashboard .dash-holder table.dataTable thead{
        font-size: 12px;
    }
      
}
@media (min-width:765px) and (max-width:992.6px){
    .top_header .header_links a{
        font-size: 15px;
    }
    .main_footer .contact_details .contact_grid{
        justify-content: end;
    }
    .main_footer .social ul{
        text-align: right;
    }
    .banner .plat_feature .cate_card .card-body{
        padding: 10px 0px;
        line-height: .8;
    }
    .banner .plat_feature .row .cate_card:first-child .card-body{
        padding-bottom: 16px;
    }
    .banner .plat_feature .cate_card .card-body a{
        font-size: 11px;
    }
    .preview .prev_table{
        width: 60%;
    }
    .preview .prod_details .prev_btn {
        width: 100%;
    }
    .preview .prev_btn .select-wrapper{
        width: 35%;
    }
    .preview .prod_details .prev_btn button{
        padding: 8px 40px;
        font-size: 13px;
    }
    .course_content .content_container .section_num{
        padding: 5px 8px;
        font-size: 12px;
    }
    .course_details .course_content .video_content p{
        width: 50%;
    }
    .course_details .course_content .rating .rating_cont{
        width: 80%;
    }
    .course_content .content_container .course_progress .circle{
        left: -37.6%;
    }
    .dashboard .dash-holder .side-navbar-cont {
        width: 25.6666%;
    }
    .dashboard .dash-holder .side-navbar-cont .close-nav{
        right: 0%;
        font-size: 18px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list{
        padding-right:15px ;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list ul li i{
        font-size: 17px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list .list-item{
        padding: 2px;
        font-size: 15px;
    }
    .dashboard .dash-holder .elect_device_container{
        padding: 20px 0px;
    }
    .dashboard .dash-holder .elect_device_container label{
        font-size: 15px;
        font-weight: 500;
    }
}
@media (min-width:992px) and (max-width:1150px){
    .market .products .card-body .prod_data span, .preview .card-body .prod_data span{
        font-size: 12px;
    }
    .market .products .card-body .prod_data p, .preview .card-body .prod_data p{
        font-size: 10px;
    }
    .market .products .card-body .card_footer, .preview .card-body .card_footer{
        font-size: 12px;
    }
    .course_details .course_content .video_content p{
        width: 30%;
    }
    .course_content .content_container .course_progress .circle{
        left:-34.5%
    }
    .dashboard .dash-holder .side-navbar-cont {
        width: 16.6666%;
    }
    .dashboard .dash-holder .side-navbar-cont .close-nav{
        right: 0%;
        font-size: 22px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list{
        padding-right:15px ;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list ul li i{
        font-size: 16px;
    }
    .dashboard .dash-holder .side-navbar-cont .side-navbar-list .list-item{
        padding: 2px;
        font-size: 15px;
    }
    .dashboard .dash-holder .elect_device_container{
        padding: 20px 0px;
    }
    .dashboard .dash-holder .elect_device_container label{
        font-size: 15px;
        font-weight: 500;
    }
   
}
@media (min-width:1550px) and (max-width:2250px){
    .preview .prod_details .prev_data{
        margin-top: 7%;
    }
    .preview .prod_details .prev_btn{
        margin-top: 9%;
    }
}
@media (min-width:1650px) and (max-width:2250px){
    .course_content .content_container .course_progress .circle{
        left: -30%;
    }
}